
.container {
    box-sizing: border-box;
}



@media (max-width: 1199px) {

    .container {
        max-width: 800px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .container_text {
        max-width: 802px;
        height: 120px;
        font-size: 50px;
        padding-left: 17px;
        padding-right: 141px;
    }
    
    .bg-img {
        width: 928px;
        height: 400px;
        padding-left: 17px;
        padding-right: 15px;
    }

    .text {
        width: 430px;
        height: 81px;
        font-size: 20px;
        padding-left: 40px;
        padding-right: 458px;
    }



}