.footer {
    padding: 60px 0 30px 0;
    background-color: #121212;
}

.footer_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    width: 450px;
    justify-content: space-between;
}

.nav_link_2 {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
}

.nav_link_2:hover{
    color: #FFFFFF;
    opacity: 0.5;
}

.nav_end_text {
    margin-top: 85px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    opacity: 50%;
}

@media (max-width: 767px) {
    .footer {
        padding: 30px 47px 26px 47px;      
    } 

    .nav {
        max-width: 281px;
    }
    .nav_link_2 {
        font-size: 12px;
        line-height: 16px;
    }

    .nav_end_text {
        margin-top: 41px;
        font-size: 13px;
        line-height: 18px;
    }
}