.header-inner {
    position: relative;
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.Logo_Link {
    display: inline-block;
    margin-right: 468px;
}


.Logo {
    display: block;
    width: 127px;
    height: 22px;
}

.header_nav {
    display: flex;
    width: 466px;
    justify-content: space-between;
}

.nav_link {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #121212;
    text-transform: uppercase;  
    text-decoration: none;
    transition: 0.5s;
   

}

.nav_link:hover {
    text-decoration: underline;
}