.services {
    margin-top: 150px;
    padding: 150px 0;
    background-color: #121212;
}

.services_title {
    margin-bottom: 34px;
    padding-left: 2px;
    color: #ffffff;
}

.services_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 85px;
}

.section_black {
    width: calc(50%-6px);
    position: relative;
}

.services__img {
    width: 100%;
    height: 390px;
    object-fit: cover;
}

.services__price {
    position: absolute;
    top: 30px;
    left: 32px;
    padding: 0 22px;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid  #AD1818;
    border-radius: 5px;
    background-color: #AD1818;
}

.services__img_text {
    margin-top: 25px;
    padding-left: 4px;
    font-size: 30px;
    letter-spacing: -0.03px; 
    color: #FFFFFF;
}

.services_blok_btn {
    display: block;
    margin-top: 106px;
    width: 100%;
    font-size: 30px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    line-height: 41px;
    text-decoration: none;
    text-align: center;
    line-height: 153px;
    background-color: #AD1818;
    color: #FFFFFF;
    transition: all 0.5s;
}

.services_blok_btn:hover {
    color: #121212;
    background-color: #FFFFFF;
    border: 1px solid  #FFFFFF;
}

@media (max-width: 1199px) {
    .services {
        margin-top: 100px;
        padding: 150px 0 120px 0;
    }

    .services__img {
        width: 100%;
        line-height: 315px;
        object-fit: cover;
    }

    .services__price {
        padding: 0 26px;
        font-size: 20px;
    }

    .services__img_text {
        margin-top: 15px;
        font-size: 25px;
        line-height: 35px;
    }

    .services_blok_btn {
        margin-top: 80px;
    }
}

@media (max-width: 767px) {
    .services {
        margin-top: 80px;
        padding: 80px 0;
    }

    .services_title {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
      }

    .services_box {
        row-gap: 60px;
      }

    .section_black {
        width: 100%;
    }

    .services__img {
        width: 100%;
        line-height: 240px;
    }

    .services__price {
        top: 24px;
        left: 24px;
        padding: 0 24px;
        font-size: 15px;
        line-height: 30px;
    }

    .services__img_text {
        margin-top: 10px;
        font-size: 18px;
        line-height: 25px;
    }

    .services_blok_btn {
        margin-top: 60px;
        font-size: 22px;
        line-height: 100px;
    }
}
