
@import url(main.screen.css);
@import url(about.css);
@import url(projects.css);
@import url(services.css);
@import url(reviews.css);
@import url(gallery.css);
@import url(contacts.css);
@import url(end.css);
@import url(logo.css);

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.03em;
}

.width_content {
    width: 1150px;
    margin: 0 auto;
}

.projects {
    margin-top: 150px;
  }

ul {
    list-style: none;
}

h1,
h2,
h4, 
a,
p {
  letter-spacing: -0.03em;
}

h1 {
    font-size: 60px;
    line-height: 60px;
}

h2{
    font-size: 18px;
    line-height: 25px;
}



@media (max-width: 1199px) {

    .width_content {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px 0 17px;
    }

}

@media (max-width: 767px) {

    .width_content {
        width: 100%;
        margin: 0 auto;
        padding: 0 12px;
    }

}

